In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import pandas as pd
from dsmlibrary.datanode import DataNode

### Setting

In [5]:
DATAPLATFORM_API_URI = "https://api.discovery.dev.data.storemesh.com"
OBJECT_STORAGE_URI = "dataframe.objectstorage.dev.data.storemesh.com"
token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjY4NDg0MzEzLCJpYXQiOjE2Njc4MDM1NTIsImp0aSI6IjI3MDdkODE5YjY0ZjQ3MDE4NDVmYjlkMTA5OGZiMzY3IiwidXNlcl9pZCI6MTV9.LTzVeLlDrXa8X-NIIvgA0cfFkUh0WKF5jv5Apzud9po"
datanode = DataNode(
        token,
        dataplatform_api_uri=DATAPLATFORM_API_URI,
        object_storage_uri=OBJECT_STORAGE_URI,
    )

Init DataNode sucessful!

In [7]:
ddf = datanode.read_ddf(file_id=1493)

In [8]:
ddf.compute()

           pk  column  input     rule_name  is_required
0  system01_1  amount   50.0  in_str_dummy        False
1  system01_2  amount   11.0  in_str_dummy        False
2  system01_3  amount   84.0  in_str_dummy        False
3  system01_4  amount   45.0  in_str_dummy        False
4  system01_5  amount   90.0  in_str_dummy        False