In [1]:
import pandas as pd

In [2]:
data1 = [
    {'tax_no': '245560002150', 'name':	"บริษัท กรีนแพลนท์ อินเตอร์ จำกัด" },
    {'tax_no': '405562003771', 'name':	"บริษัท แอทเทนด์ แพลนท์ เทรดดิ้ง จำกัด" },
    {'tax_no': '105554033902', 'name':	"บริษัท แอท การ์เด้น จำกัด" },
    {'tax_no': '303564003395', 'name':	"ห้างหุ้นส่วนจำกัด สำเริงรุ่งโรจน์การเกษตร" },
    {'tax_no': '303564003409', 'name':	"ห้างหุ้นส่วนจำกัด สวนเคียงคอน" },
]
df1 = pd.DataFrame(data1)
df1

         tax_no                                       name
0  245560002150           บริษัท กรีนแพลนท์ อินเตอร์ จำกัด
1  405562003771      บริษัท แอทเทนด์ แพลนท์ เทรดดิ้ง จำกัด
2  105554033902                  บริษัท แอท การ์เด้น จำกัด
3  303564003395  ห้างหุ้นส่วนจำกัด สำเริงรุ่งโรจน์การเกษตร
4  303564003409              ห้างหุ้นส่วนจำกัด สวนเคียงคอน

In [13]:
data2 = [
    {'tax_no': '313563002042', 'title':	'ห้างหุ้นส่วนจำกัด สกุลทองอะโกร' },
    {'tax_no': '193564000908', 'title':	'ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนแปลงใหญ่ข้าวโพดเลี้ยงสัตว์ ม.7 พุแค' },
    {'tax_no': '165564000969', 'title':	'บริษัท วิสาหกิจชุมชนแปลงใหญ่ข้าวโพดเขารวก2021 จำกัด' },
    {'tax_no': '543563000587', 'title':	'ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนเกษตรแปลงใหญ่ข้าวโพดบ้านม่อน' },
    {'tax_no': '543563000609', 'title':	'ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนเกษตรแปลงใหญ่ข้าวโพดบ้านปิน ม.11' },
]
df2 = pd.DataFrame(data2)
df2

         tax_no                                              title
0  313563002042                     ห้างหุ้นส่วนจำกัด สกุลทองอะโกร
1  193564000908  ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนแปลงใหญ่ข้าวโพด...
2  165564000969  บริษัท วิสาหกิจชุมชนแปลงใหญ่ข้าวโพดเขารวก2021 ...
3  543563000587  ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนเกษตรแปลงใหญ่ข้...
4  543563000609  ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนเกษตรแปลงใหญ่ข้...

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@10.8.98.54:15432/postgres', echo=False)

In [5]:
df1.to_sql('exporter', con=engine, if_exists='append')

In [8]:
pd.read_sql("SELECT * FROM exporter", con=engine)

   index        tax_no                                       name
0      0  245560002150           บริษัท กรีนแพลนท์ อินเตอร์ จำกัด
1      1  405562003771      บริษัท แอทเทนด์ แพลนท์ เทรดดิ้ง จำกัด
2      2  105554033902                  บริษัท แอท การ์เด้น จำกัด
3      3  303564003395  ห้างหุ้นส่วนจำกัด สำเริงรุ่งโรจน์การเกษตร
4      4  303564003409              ห้างหุ้นส่วนจำกัด สวนเคียงคอน

In [14]:
engine2 = create_engine('postgresql://postgres:postgres@10.8.98.54:25432/postgres', echo=False)

In [18]:
df2.to_sql('exporter', con=engine2, if_exists='append')

In [19]:
pd.read_sql("SELECT * FROM exporter", con=engine2)

   index        tax_no                                              title
0      0  313563002042                     ห้างหุ้นส่วนจำกัด สกุลทองอะโกร
1      1  193564000908  ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนแปลงใหญ่ข้าวโพด...
2      2  165564000969  บริษัท วิสาหกิจชุมชนแปลงใหญ่ข้าวโพดเขารวก2021 ...
3      3  543563000587  ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนเกษตรแปลงใหญ่ข้...
4      4  543563000609  ห้างหุ้นส่วนจำกัด วิสาหกิจชุมชนเกษตรแปลงใหญ่ข้...

In [17]:
engine2.execute('DROP TABLE exporter CASCADE')