In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
from dsmlibrary.datanode import DataNode

### Setting

In [3]:
DATAPLATFORM_API_URI = "https://api.discovery.dev.data.storemesh.com"
OBJECT_STORAGE_URI = "dataframe.objectstorage.dev.data.storemesh.com"
token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjY4NTcwODQ3LCJpYXQiOjE2Njg0ODQ0NDcsImp0aSI6IjA2ODY4NzM3NTNhYTRkMzdiNTdiODBlM2Y1YzJkY2ZjIiwidXNlcl9pZCI6MTV9.HeM8h_UzE0wBtqkO-3Op4pCV3I4Pt2WbJMHRDmPiqD0"
datanode = DataNode(
        token,
        dataplatform_api_uri=DATAPLATFORM_API_URI,
        object_storage_uri=OBJECT_STORAGE_URI,
    )

Init DataNode sucessful!

In [4]:
folder_id = 300
file_name = "person_name"

### Input

In [5]:
df = pd.DataFrame([
    {"id": 1, "name": "john"},
    {"id": 2, "name": "jack"},
])
df

   id  name
0   1  john
1   2  jack

### Write

In [6]:
datanode.writeListDataNode(df=df, directory_id=folder_id, name=file_name, profiling=True, replace=True)

{'status': 'sucess',
 'file_id': 1523,
 'path': 'patcharapon/TC-06_Version4/Staging/person_name.listDataNode'}

In [7]:
file_id = datanode.get_file_id(name=f"{file_name}.listDataNode", directory_id=folder_id)

In [8]:
datanode.get_file_version(file_id=file_id)

[{'file_id': 1522, 'timestamp': '2022/11/15 13:28:52'}]

In [9]:
file_id

1523

In [10]:
datanode.read_ddf(file_id=file_id).compute()

version_file_id : {'file_id': 1522, 'timestamp': '2022/11/15 13:28:52'}

   id  name
0   1  john
1   2  jack

In [53]:
datanode.read_ddf(file_id=file_id, index=1) # change to -1

Exception: list_datanode is out of range for index 1

### Get Update (first time)

In [54]:
ddf = datanode.get_update_data(file_id=file_id)
ddf.compute()

version_file_id : {'file_id': 1402, 'timestamp': '2022/10/21 10:26:21'}
list_datanode is out of range for index 1

   id  name
0   1  john
1   2  jack

#### Write Edited Data (new version)

In [55]:
df_edited = pd.DataFrame([
    {"id": 1, "name": "john"},
    {"id": 2, "name": "jean"},
    {"id": 3, "name": "lora"},
])
df_edited

   id  name
0   1  john
1   2  jean
2   3  lora

In [56]:
datanode.writeListDataNode(df=df_edited, directory_id=folder_id, name=file_name, profiling=True, replace=True)

{'status': 'sucess',
 'file_id': 1403,
 'path': 'patcharapon/TC-08/listdatanode2/person_name.listDataNode'}

In [57]:
datanode.get_file_version(file_id=file_id)

[{'file_id': 1404, 'timestamp': '2022/10/21 10:30:25'},
 {'file_id': 1402, 'timestamp': '2022/10/21 10:26:21'}]

#### Get update

In [58]:
ddf = datanode.get_update_data(file_id=file_id)
ddf.compute()

version_file_id : {'file_id': 1404, 'timestamp': '2022/10/21 10:30:25'}
version_file_id : {'file_id': 1402, 'timestamp': '2022/10/21 10:26:21'}

   id  name
1   2  jean
2   3  lora

In [ ]:
# delete expire file

In [41]:
datanode.get_file_version(file_id=file_id)

[{'file_id': 1399, 'timestamp': '2022/10/21 08:49:18'}]